body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-width: 400px;
  justify-content: center;
}

.sync-container {
  display: flex;
  justify-content: flex-end;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 4px 0;
  padding: 4px 8px;
}

button {
  width: fit-content;
  margin: 4px 4px 4px 0;
  
  background: #42BEAE;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

button.delete {
  background: #e33062;
}

button.info {
  background: #edce34;
}

button.alert {
  background:#18b4db;
}

.task-item {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border-radius: 6px;
  border: solid 1px #888888;
  padding: 8px 12px;
}

label {
  font-size: 10px;
  color: #47463f;
}

.task-tag {
  font-size: 11px;
  color: #ababab;
}

.task-created {
  font-size: 10px;
  color: #888888
}

.task-content {
  color: #252829;
}

.task-status {
  font-size: 10px;
}

.not-done {
  color: red;
}

.done {
  color: green;
}

